<ion-header>
  <ion-toolbar>
    <!-- <ion-title>landing</ion-title> -->
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card class="welcome-card">
    <ion-img src="/assets/shapes.svg"></ion-img>
    <ion-card-header>
      <ion-card-subtitle>Una aplicación familiar</ion-card-subtitle>
      <ion-card-title>Find Me</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Todo lo que necesitas, a un click</p>
    </ion-card-content>
  </ion-card>
</ion-content>
<ion-footer>
  <ion-toolbar>
      <ion-row>
        <ion-col>
          <ion-button color="primary" expand="full" color="primary" (click)="login()">Ingresar</ion-button>
        </ion-col>
        <ion-col>
          <ion-button color="primary" expand="full" color="danger" (click)="register()">Registrate</ion-button>
        </ion-col>
      </ion-row>
  </ion-toolbar>
</ion-footer>