
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Pupilos</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content>
  
  <form (ngSubmit)="guardar( f )"
  #f="ngForm">
    <ion-item>
  
      <ion-input type="text"  [(ngModel)]="datos_a_editar.nombre" placeholder="nombre"  name="nombre"></ion-input>
    </ion-item>
    <ion-item>
      
      
      <ion-input type="text" [(ngModel)]="datos_a_editar.enfermedad"  placeholder="enfermedad"   name="enfermedad"></ion-input>
    </ion-item>
    <ion-item>
     
      
      <ion-input type="text" [(ngModel)]="datos_a_editar.direccion"  placeholder="direccion" name="direccion"></ion-input>
    </ion-item>
    <ion-item>
     
      
      <ion-input type="text" [(ngModel)]="datos_a_editar.telefono"   placeholder="telefono" name="telefono"></ion-input>
    </ion-item>
    <ion-item>
      
      
      
      <ion-textarea [(ngModel)]="datos_a_editar.precauciones"  placeholder="precauciones" name="precauciones"></ion-textarea>
    </ion-item>
  </form>
    <button shape="round" [hidden]="!showButton" (click)="editarPupilo()" size="default" color="primary" expand="block" type="submit">Confirmar</button>
    <button shape="round" [hidden]="showButton" (click)="agregar()" size="default" color="primary" expand="block" type="submit">Agregar</button>

    <ion-card *ngFor="let item of items; let i = index">
      <ion-card-header>
        <ion-card-subtitle>{{item.nombre}}</ion-card-subtitle>
        <ion-card-title>{{item.enfermedad}}</ion-card-title>
      </ion-card-header>
  
      <ion-card-content>
        <p>{{item.direccion}}</p>
        <h3>{{item.telefono}}</h3>
      </ion-card-content>
      
      <ion-buttons end>
        <button ion-button icon-only (click)="borrarHeroe(item.id,i) ">Borrar
         <ion-icon name="trash"></ion-icon>
       </button>
       <button ion-button icon-only (click)="llamarEditar(item.id,i); showButton = true">Editar
        <ion-icon name="refresh"></ion-icon>
      </button>
      </ion-buttons>
    </ion-card>
</ion-content>


